<section class="py-5 overlay-section">
    <div class="container px-5 mx-auto">
        <div class="flex justify-center text-center">
            <div class="blur-sm p-7 w-full lg:w-3/5 mb-36">
                <h1 class="text-6xl font-thin">Прием и переработка <br> <strong>Металлолома<br>от 31 100 руб.</strong></h1>
                <p>Работаем без выходных! Деньги есть всегда! Автомобили в лом не принимаем. Вывозим лом собственным транспортом камазами с манипуляторной установкой! Вывоз металлолома собственным транспортом, бесплатная погрузка/разгрузка.</p>
                <button class="modal-open mt-4 h-16 bg-mblue text-white hover:bg-blue-500 shadow-blue px-5 py-2">
                    Сдать металлолом
                </button>
            </div>
        </div>
        {#    NOT FULL WIDTH     #}
{#        <div class="flex justify-start">#}
{#            <div class="bg-white bg-opacity-75 blur-sm p-7 w-full lg:w-2/3 mb-36">#}
{#                <h1 class="text-6xl font-thin">Прием и переработка <br> <strong>Металлолома<br>от 31 100 руб.</strong></h1>#}
{#                <p>Работаем без выходных! Деньги есть всегда! Автомобили в лом не принимаем. Вывозим лом собственным транспортом камазами с манипуляторной установкой! Вывоз металлолома собственным транспортом, бесплатная погрузка/разгрузка.</p>#}
{#                <button class="modal-open mt-4 h-16 bg-mblue text-white hover:bg-blue-500 shadow-blue px-5 py-2">#}
{#                    Сдать металлолом#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
    </div>
</section>