<!--BREADCRUMBS-->
<section class="bg-mgray">
  <div class="container mx-auto">
    <nav class="bg-mgray pf-font-light p-3 rounded font-sans w-full mt-4 mb-4">
      <ol class="list-reset flex text-gray-dark">
        <li><a href="#" class="text-mblue hover:underline">Главная</a></li>
        <li><span class="mx-2">/</span></li>
        <li>{{ title }}</li>
      </ol>
    </nav>
  </div>
</section>
<!--BREADCRUMBS END-->
