{% if with_partners != 0 %}
  <!--SECTION PARTNERS-->
  <section class="py-5 ">
    <div class="container px-0 md:px-5 mx-auto">
      <!--  STATIC VERSION  -->
      <!--        <div class="flex flex-row flex-wrap justify-between">-->
      <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
      <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
      <!--                    <img src="../images/p7.png" class="block object-cente mx-auto" alt="Патнёр">-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
      <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
      <!--                    <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
      <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
      <!--                    <img src="../images/p3.png" class="block object-center mx-auto" alt="Патнёр">-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
      <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
      <!--                    <img src="../images/p4.png" class="block object-center mx-auto" alt="Патнёр">-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
      <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
      <!--                    <img src="../images/p5.png" class="block object-center mx-auto" alt="Патнёр">-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
      <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
      <!--                    <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
      <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
      <!--                    <img src="../images/p7.png" class="block object-center mx-auto" alt="Патнёр">-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
      <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
      <!--                    <img src="../images/p8.png" class="block object-center mx-auto" alt="Патнёр">-->
      <!--                </div>-->
      <!--            </div>-->
      <!--        </div>-->

      <!--   SLIDER VERSION     -->
      <div class="partners-items">
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p7.png" class="block object-cente mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p3.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p4.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p5.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p7.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p8.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p7.png" class="block object-cente mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p3.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p4.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p5.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p7.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
        <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
          <div class="flex align-center justify-center rounded h-full py-3">
            <img src="../images/p8.png" class="block object-center mx-auto" alt="Патнёр">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
<!--FOOTER-->
<footer class="border-t-2 border-mgray">
  <div class="container py-2 sm:px-5 mx-auto">
    <!--   HEADER INFO     -->
    <div class="flex flex-row justify-center lg:justify-between flex-wrap w-full">
      <div class="w-full md:w-2/6 mb-2 flex justify-center lg:justify-start lg:w-auto">
        <a href="/" class="flex logo no-underline py-1 flex flex-row items-center text-lg md:text-2xl">
          <img src="../images/icon.png" alt="Logo" width="88" height="48">
          <span class="text-mblue ">ЕТАЛ</span>ЛОЛОМ</a>
      </div>
      <div
        class="w-full md:w-2/6 mb-2 text-center flex flex-col md:items-center lg:items-start justify-center lg:text-left lg:justify-start lg:w-auto">
        <ul>
          <li>
            <a href="#" class="pf-font-light text-lg hover:text-mlgreen">Железо</a>
          </li>
          <li>
            <a href="#" class="pf-font-light text-lg hover:text-mlgreen">Сталь</a>
          </li>
          <li>
            <a href="#" class="pf-font-light text-lg hover:text-mlgreen">Чугун</a>
          </li>
        </ul>
      </div>
      <div
        class="w-full md:w-2/6 mb-2 text-center flex flex-row md:items-center lg:items-start justify-center lg:text-left lg:justify-start lg:w-auto">
        <ul class="list-none">
          <li>
            <a href="#" class="pf-font-light text-lg hover:text-mlgreen">Жесть</a>
          </li>
          <li>
            <a href="#" class="pf-font-light text-lg hover:text-mlgreen">Оцинкованая сталь</a>
          </li>
        </ul>
      </div>
      <div
        class="w-full md:w-2/6 mb-2 text-center flex flex-col justify-center lg:text-left lg:justify-start lg:w-auto px-2">
        <a href="tel:++ 74956680359"
           class="w-full text-black hover:text-mlgreen font-bold text-lg font-regular font-medium no-underline">+ 7 (495)
          668-03-59</a>
        <p class="w-full pf-font-light text-black text-lg">Работаем с 8:00 до 23:00</p>
        <ul class="list-none">
          <li class="w-auto inline-block "><a href="#"
                                              class="text-mlgreen text-xl text-lg font-regular font-medium no-underline px-2">
              <i class="fab fa-viber shadow-mlgreen rounded-full"></i>
            </a></li>
          <li class="w-auto inline-block "><a href="#"
                                              class="text-mlgreen text-xl text-lg font-regular font-medium no-underline px-2">
              <i class="fab fa-whatsapp shadow-mlgreen rounded-full"></i>
            </a></li>
        </ul>
      </div>
      <div
        class="w-full md:w-2/6 mb-2 text-center flex flex-col justify-center lg:text-left lg:justify-start lg:w-auto px-2">
        <a href="mailto:infometall@gmail.com"
           class="w-full text-mlgreen hover:text-black text-lg pf-font-light underline dotted">infometall@gmail.com</a>
        <p class="w-full pf-font-light text-black text-lg">г.Москва, Каширное шоссе, 67с2</p>
      </div>
      <div
        class="w-full md:w-2/6 mb-2 text-center flex flex-row justify-center lg:text-left lg:justify-start lg:w-auto">
        <button
          class="modal-open h-16	bg-mblue text-lg font-regular font-medium text-white hover:bg-blue-500 shadow-blue px-5 py-1">
          Обратный звонок
        </button>
      </div>
    </div>
  </div>
</footer>
