<!--SECTION PARTNERS-->
<section class="py-5 ">
    <div class="container px-0 md:px-5 mx-auto">
        <!--  STATIC VERSION  -->
        <!--        <div class="flex flex-row flex-wrap justify-between">-->
        <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
        <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
        <!--                    <img src="../images/p7.png" class="block object-cente mx-auto" alt="Патнёр">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
        <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
        <!--                    <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
        <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
        <!--                    <img src="../images/p3.png" class="block object-center mx-auto" alt="Патнёр">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
        <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
        <!--                    <img src="../images/p4.png" class="block object-center mx-auto" alt="Патнёр">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
        <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
        <!--                    <img src="../images/p5.png" class="block object-center mx-auto" alt="Патнёр">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
        <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
        <!--                    <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
        <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
        <!--                    <img src="../images/p7.png" class="block object-center mx-auto" alt="Патнёр">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="partners-item w-1/2 sm:w-1/3 md:w-1/4 lg:w-auto relative bg-mlgreen rounded-lg m-2 my-3">-->
        <!--                <div class="flex align-center justify-center rounded h-full py-3">-->
        <!--                    <img src="../images/p8.png" class="block object-center mx-auto" alt="Патнёр">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--   SLIDER VERSION     -->
        <div class="partners-items">
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p7.png" class="block object-cente mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p3.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p4.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p5.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p7.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p8.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p7.png" class="block object-cente mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p3.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p4.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p5.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p6.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p7.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
            <div class="partners-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded h-full py-3">
                    <img src="../images/p8.png" class="block object-center mx-auto" alt="Патнёр">
                </div>
            </div>
        </div>
    </div>
</section>