<!--FAQ-->
<section class="py-5">
  <div class="container py-2 px-5 mx-auto">
    <h1 class="text-5xl text-center pf-font-bold mb-5">Частые вопросы о сдаче металла</h1>
    <div class="w-full mx-auto p-8">
      <div>
        <div class="tab w-full overflow-hidden border-t shadow-md mb-5">
          <input class="absolute opacity-0 " id="tab-multi-1" type="checkbox" name="according">
          <label class="block p-5 leading-normal cursor-pointer hover:text-mlgreen" for="tab-multi-1">Сколько я получу денег за сдачу металлолома?</label>
          <div class="tab-content overflow-hidden border-l-2 border-indigo-500 leading-normal">
            <p>Мы являемся официальной организацией с оптовыми ценами на металлолом. Чтобы узнать точную цену на ваш металлолом, вам нужно позвонить по номеру, указанному на сайте.
              <br>Менеджер выяснит где находится ваш металлолом и нужен ли демонтаж. Далее запросит фото вашего металлолома и даст точную цену.</p>

          </div>
        </div>
        <div class="tab w-full overflow-hidden border-t shadow-md mb-5">
          <input class="absolute opacity-0" id="tab-multi-2" type="checkbox" name="according">
          <label class="block p-5 leading-normal cursor-pointer hover:text-mlgreen" for="tab-multi-2">Где ближайший пункт приёма?</label>
          <div class="tab-content overflow-hidden border-l-2 border-indigo-500 leading-normal">
            <p>Мы являемся официальной организацией с оптовыми ценами на металлолом. Чтобы узнать точную цену на ваш металлолом, вам нужно позвонить по номеру, указанному на сайте.
              <br>Менеджер выяснит где находится ваш металлолом и нужен ли демонтаж. Далее запросит фото вашего металлолома и даст точную цену.</p>
          </div>
        </div>
        <div class="tab w-full overflow-hidden border-t shadow-md mb-5">
          <input class="absolute opacity-0" id="tab-multi-3" type="checkbox" name="according">
          <label class="block p-5 leading-normal cursor-pointer hover:text-mlgreen" for="tab-multi-3">Как происходит процесс взвешивания?</label>
          <div class="tab-content overflow-hidden border-l-2 border-indigo-500 leading-normal">
            <p>Мы являемся официальной организацией с оптовыми ценами на металлолом. Чтобы узнать точную цену на ваш металлолом, вам нужно позвонить по номеру, указанному на сайте.
              <br>Менеджер выяснит где находится ваш металлолом и нужен ли демонтаж. Далее запросит фото вашего металлолома и даст точную цену.</p>
          </div>
        </div>
        <div class="tab w-full overflow-hidden border-t shadow-md mb-5">
          <input class="absolute opacity-0" id="tab-multi-4" type="checkbox" name="according">
          <label class="block p-5 leading-normal cursor-pointer hover:text-mlgreen" for="tab-multi-4">Как происходит оплата?</label>
          <div class="tab-content overflow-hidden border-l-2 border-indigo-500 leading-normal">
            <p>Мы являемся официальной организацией с оптовыми ценами на металлолом. Чтобы узнать точную цену на ваш металлолом, вам нужно позвонить по номеру, указанному на сайте.
              <br>Менеджер выяснит где находится ваш металлолом и нужен ли демонтаж. Далее запросит фото вашего металлолома и даст точную цену.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
