<!--EXAMPLES-->
<section class="py-5">
  <div class="container px-7 md:px-5 mx-auto">
    <div class="examples-items">
      <div>
        <div class="mb-4"><img src="../images/ex1.jpg" alt="Examples" class="block object-cover"></div>
        <a class="mb-4 text-xl font-regular text-black font-bold text-mlgreen hover:underline" href="#">Демонтаж
          кранов</a>
        <p>Выполняем демонтаж кранов: козловых, мостовых, шаровых, кранов-балок, строительных. Работаем в Москве и
          Подмосковье, имеем все необходимые лицензии и спец технику. Звоните +7 977 770-06-07</p>
      </div>
      <div>
        <div class="mb-4"><img src="../images/ex2.jpg" alt="Examples" class="block object-cover"></div>
        <a class="mb-4 text-xl font-regular text-black font-bold text-mlgreen hover:underline" href="#">Демонтаж
          станков</a>
        <p>Выполняем демонтаж станков: токарных, шлифовальных, сверлильных, расточных, зубообрабатывающих. Работаем в
          Москве и Подмосковье, имеем все необходимые лицензии и спец технику. Звоните +7 977 770-06-07</p>
      </div>
      <div>
        <div class="mb-4"><img src="../images/ex3.jpg" alt="Examples" class="block object-cover"></div>
        <a class="mb-4 text-xl font-regular text-black font-bold text-mlgreen hover:underline" href="#">Демонтаж
          промышленных зданий</a>
        <p>Наша компания предлагает своим клиентам услуги демонтажа промышленных зданий. Мы производим весь спектр
          работ, в ходе которых отслужившие здания, а также конструкции превращаются в металлолом. Звоните +7 977
          770-06-07</p>
      </div>
      <div>
        <div class="mb-4"><img src="../images/ex4.jpg" alt="Examples" class="block object-cover"></div>
        <a class="mb-4 text-xl font-regular text-black font-bold text-mlgreen hover:underline" href="#">Демонтаж
          гаражей</a>
        <p>Наша компания занимается скупкой металлов, а также предлагает своим клиентам сопутствующие услуги. Одной из
          таких услуг является демонтаж металлических гаражей. Сотрудники нашей организации имеют огромный опыт
          демонтажа различных конструкций и с радостью придут вам на помощь.</p>
      </div>
      <div>
        <div class="mb-4"><img src="../images/ex1.jpg" alt="Examples" class="block object-cover"></div>
        <a class="mb-4 text-xl font-regular text-black font-bold text-mlgreen hover:underline" href="#">Демонтаж
          кранов</a>
        <p>Выполняем демонтаж кранов: козловых, мостовых, шаровых, кранов-балок, строительных. Работаем в Москве и
          Подмосковье, имеем все необходимые лицензии и спец технику. Звоните +7 977 770-06-07</p>
      </div>
      <div>
        <div class="mb-4"><img src="../images/ex2.jpg" alt="Examples" class="block object-cover"></div>
        <a class="mb-4 text-xl font-regular text-black font-bold text-mlgreen hover:underline" href="#">Демонтаж
          станков</a>
        <p>Выполняем демонтаж станков: токарных, шлифовальных, сверлильных, расточных, зубообрабатывающих. Работаем в
          Москве и Подмосковье, имеем все необходимые лицензии и спец технику. Звоните +7 977 770-06-07</p>
      </div>
      <div>
        <div class="mb-4"><img src="../images/ex3.jpg" alt="Examples" class="block object-cover"></div>
        <a class="mb-4 text-xl font-regular text-black font-bold text-mlgreen hover:underline" href="#">Демонтаж
          промышленных зданий</a>
        <p>Наша компания предлагает своим клиентам услуги демонтажа промышленных зданий. Мы производим весь спектр
          работ, в ходе которых отслужившие здания, а также конструкции превращаются в металлолом. Звоните +7 977
          770-06-07</p>
      </div>
      <div>
        <div class="mb-4"><img src="../images/ex4.jpg" alt="Examples" class="block object-cover"></div>
        <a class="mb-4 text-xl font-regular text-black font-bold text-mlgreen hover:underline" href="#">Демонтаж
          гаражей</a>
        <p>Наша компания занимается скупкой металлов, а также предлагает своим клиентам сопутствующие услуги. Одной из
          таких услуг является демонтаж металлических гаражей. Сотрудники нашей организации имеют огромный опыт
          демонтажа различных конструкций и с радостью придут вам на помощь.</p>
      </div>
    </div>
  </div>
</section>
