<!--TEXT WITH SLIDER-->
<section class="py-5 section-text">
    <div class="container py-2 px-5 mx-auto ">
        <h1>Демонтаж металлоконструкций</h1>
        <div class="flex flex-row flex-wrap">
            <div class="w-full lg:w-7/12">
                Мы предлагаем своим клиентам не только высокие цены на все виды металла, но также сопутствующие услуги. Самой востребованной является демонтаж металлических конструкций. Это тяжелая и технически сложная работа, для проведения которой требуется серьезный опыт, а также квалификация.
                <br><br>
                Обратившись в нашу организацию, вы сможете заказать демонтаж: <br><br>
                <ul>
                    <li>ангаров;</li>
                    <li>цехов;</li>
                    <li>мостов;</li>
                    <li>резервуаров;</li>
                    <li>станков;</li>
                    <li>кранов и т. п</li>
                </ul>
                <br><br>
                После проведения демонтажных работ весь лом отправляется в пункты приема нашей организации. Весь полученный лом в итоге станет сырьем для нового производственного процесса.
                <br><br>
                Услуги демонтажа освобождают клиентов от необходимости собственными силами демонтировать металлические конструкции. Мы также можем предложить услуги транспортировки. Мы поможем вывезти даже большие объемы металлолома при помощи спецтехники.
            </div>
            <div class="w-full lg:w-5/12">
                <div class="gallery-items relative">
                    <div class="item">
                        <img src="../images/text-slide.jpg" alt="slide" class="block object-cover">
                    </div>
                    <div class="item">
                        <img src="../images/text-slide.jpg" alt="slide" class="block object-cover">
                    </div>
                    <div class="item">
                        <img src="../images/text-slide.jpg" alt="slide" class="block object-cover">
                    </div>
                    <div class="item">
                        <img src="../images/text-slide.jpg" alt="slide" class="block object-cover">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>