<!--SECTION METALLS-->
<section class="py-5 ">
    <div class="container px-7 mx-auto">
        <h1 class="text-center">Другие виды металлолома</h1>
        <div class="metals-items">
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal1.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Прием черного металла</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal2.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Прием кабеля в Москве</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal3.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Прием б/у аккумуляторов</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal4.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Сдать алюминий в Москве</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal5.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Лом латуни</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal1.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Прием черного металла Прием черного металла Прием черного металлаПрием черного металла Прием черного металла Прием черного металла Прием черного металла</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal2.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Прием кабеля в Москве</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal3.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Прием б/у аккумуляторов</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal4.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Сдать алюминий в Москве</a>
                </div>
            </div>
            <div class="metal-item lg:w-auto relative bg-mlgreen rounded-lg my-3">
                <div class="flex align-center justify-center rounded-md h-full relative overlay px-3" style="background: url(../images/metal5.png) no-repeat center;">
                    <a href="#" class="w-full flex justify-center font-regular font-bold items-center h-full text-white hover:underline hover:text-mlgreen">Лом латуни</a>
                </div>
            </div>

        </div>
    </div>
</section>