<!--REVIEWS-->
<section>
  <div class="container py-2 px-7 sm:px-5 mx-auto">
    <h1 class="text-5xl text-center pf-font-bold mb-5">Отзывы наших клиентов</h1>
    <div class="reviews-items">
      <div class="flex flex-col px-2">
        <div class="flex justify-center mb-5">
          <img src="../images/reviews1.png" alt="Отзыв" class="block object-center" width="165" height="165">
        </div>
        <span class="block pf-font-bold text-lg text-center mb-5">Иван Иванович Иванов</span>
        <p class="text-center">
          Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и заготавливает металлолом с 2016г. За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам металлолом на постоянной основе.
        </p>
      </div>
      <div class="flex flex-col px-2">
        <div class="flex justify-center mb-5">
          <img src="../images/reviews1.png" alt="Отзыв" class="block object-center" width="165" height="165">
        </div>
        <span class="block pf-font-bold text-lg text-center mb-5">Иван Иванович Иванов</span>
        <p class="text-center">
          Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и заготавливает металлолом с 2016г. За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам металлолом на постоянной основе.
        </p>
      </div>
      <div class="flex flex-col px-2">
        <div class="flex justify-center mb-5">
          <img src="../images/reviews1.png" alt="Отзыв" class="block object-center" width="165" height="165">
        </div>
        <span class="block pf-font-bold text-lg text-center mb-5">Иван Иванович Иванов</span>
        <p class="text-center">
          Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и заготавливает металлолом с 2016г. За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам металлолом на постоянной основе.
        </p>
      </div>
      <div class="flex flex-col px-2">
        <div class="flex justify-center mb-5">
          <img src="../images/reviews1.png" alt="Отзыв" class="block object-center" width="165" height="165">
        </div>
        <span class="block pf-font-bold text-lg text-center mb-5">Иван Иванович Иванов</span>
        <p class="text-center">
          Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и заготавливает металлолом с 2016г. За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам металлолом на постоянной основе.
        </p>
      </div>
    </div>
  </div>
</section>
