<!--ICONS-->
<section class="py-5">
  <div class="container py-2 px-5 mx-auto ">
    <div class="flex flex-row flex-wrap text-center">
      <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
        <div class="bg-white shadow-around h-24 w-24 rounded-full p-5 mb-4 mx-auto flex content-center items-center"><img src="../images/icons1.png" alt="Icon" class="mx-auto block"></div>
        <span class="block text-xl pf-font-medium mb-3">Работаем по лицензии</span>
        <p>Это позволяет нам официально оформлять весь поступающий к нам металл. Принимаем лом как у частных лиц, так и у предприятий.</p>
      </div>
      <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
        <div class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 mx-auto flex content-center items-center"><img src="../images/icons2.png" alt="Icon" class="mx-auto block"></div>
        <span class="block text-xl pf-font-medium mb-3">Работаем по лицензии</span>
        <p>Это позволяет нам официально оформлять весь поступающий к нам металл. Принимаем лом как у частных лиц, так и у предприятий.</p>
      </div>
      <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
        <div class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 mx-auto flex content-center items-center"><img src="../images/icons3.png" alt="Icon" class="mx-auto block"></div>
        <span class="block text-xl pf-font-medium mb-3">Работаем по лицензии</span>
        <p>Это позволяет нам официально оформлять весь поступающий к нам металл. Принимаем лом как у частных лиц, так и у предприятий.</p>
      </div>
      <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
        <div class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 mx-auto flex content-center items-center"><img src="../images/icons4.png" alt="Icon" class="mx-auto block"></div>
        <span class="block text-xl pf-font-medium mb-3">Работаем по лицензии</span>
        <p>Это позволяет нам официально оформлять весь поступающий к нам металл. Принимаем лом как у частных лиц, так и у предприятий.</p>
      </div>

    </div>
  </div>
</section>
