<!--TEXT WITH IMG-->
<section class="py-5">
  <div class="container py-2 px-5 mx-auto"><h1 class="text-5xl pf-font-bold mb-5">О компании</h1>
    <div class="wp-block-image">
      <figure class="alignright size-large is-resized">
        <img alt="О компании" width="367" height="244"
            data-srcset="http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-1024x683.jpg.webp 1024w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-300x200.jpg.webp 300w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-768x512.jpg.webp 768w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-1536x1024.jpg.webp 1536w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-2048x1366.jpg.webp 2048w"
            data-src="http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-1024x683.jpg.webp"
            data-sizes="(max-width: 367px) 100vw, 367px"
            class="wp-image-155 lazyloaded"
            src="http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-1024x683.jpg.webp"
            loading="lazy" sizes="(max-width: 367px) 100vw, 367px"
            srcset="http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-1024x683.jpg.webp 1024w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-300x200.jpg.webp 300w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-768x512.jpg.webp 768w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-1536x1024.jpg.webp 1536w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-1-2048x1366.jpg.webp 2048w">
      </figure>
    </div>
    <p>Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и
      заготавливает металлолом с 2016г.</p>
    <p class="has-text-align-left">За относительно короткое время нашей деятельности на рынке металлолома, благодаря
      честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам,
      нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые
      сдают нам металлолом на постоянной основе. Мы являемся крупной оптовой компанией, которая может предлагать лучшие
      условия на рынке заготовки металлолома, т.к. накопленный на наших пунктах приема металлолом напрямую поставляется
      на перерабатывающие металл заводы ежечасно.</p>
    <h2 id="h-">Почему сдавать лом лучше в Металлолом?</h2>
    <p>Наше основное преимущество состоит в том, что мы предлагаем эксклюзивные и гибкие условия сотрудничества по сдаче
      металлолома для наших клиентов. У нас имеются все необходимые лицензии на осуществление основной деятельности –
      прием металлолома, а так же разрешения по всем вспомогательным направлениям. Весовое оборудование постоянно
      проходит поверку и имеет действующие сертификаты. Наши приемные пункты расположены по всей Москве и Московской
      области, имеем большой автопарк спецтехники, многочисленное количество различных специалистов в штате, и все
      необходимое для организации быстрого и безопасного демонтажа любого объекта любой сложности металлоконструкций.
      Благодаря нашей организаии сдать металлолом стало не просто удобно, но и быстро.<br><br></p>
    <div class="wp-block-image">
      <figure class="alignleft size-large is-resized">
        <img alt="О компании" width="383" height="256"
             data-srcset="http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-1024x683.jpg.webp 1024w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-300x200.jpg.webp 300w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-768x512.jpg.webp 768w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-1536x1024.jpg.webp 1536w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-2048x1365.jpg.webp 2048w"
             data-src="http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-1024x683.jpg.webp"
             data-sizes="(max-width: 383px) 100vw, 383px"
             class="wp-image-158 lazyloaded"
             src="http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-1024x683.jpg.webp"
             loading="lazy" sizes="(max-width: 383px) 100vw, 383px"
             srcset="http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-1024x683.jpg.webp 1024w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-300x200.jpg.webp 300w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-768x512.jpg.webp 768w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-1536x1024.jpg.webp 1536w,  http://localhost/wp-content/webp-express/webp-images/uploads/2021/07/text-2-2048x1365.jpg.webp 2048w"
        >
      </figure>
    </div>
    <h3><strong>Часы работы баз:</strong>&nbsp;Понедельник-Воскресенье 24/7 Круглосуточно</h3>
    <p>Мы работаем на объем и применяем минимальную наценку, так как основной целью компании является привлечение
      максимального количества клиентов. Всегда готовы помочь своим клиентам, если им нужна дополнительная помощь,
      например демонтаж сложной металлоконструкции или опасного объекта, вывоз большого количества металла за сжатые
      сроки, недостаток рабочей силы, потребность в конкретных специалистах. Сагамет имеет все ресурсы для решения этих
      задач, причем 90% демонтажных работ мы производим бесплатно, в случае забора лома на наши приемные пункты. Оплату
      за принимаемый лом производим моментально, после взвешивания, сразу после приема металлолома на кассе, либо
      переводим после видео фиксации процесса взвешивания.</p>
    <p>Вывозим металлолом за свой счет с любого объекта, т.к. благодаря большому покрытию собственных приемных пунктов,
      расходы на логистику приводятся к минимуму. Если вы находитесь близко, вы всегда можете прийти в ближайший пункт
      приема и сдать лом лично. Поработав с нами в первый раз вы убедитесь, что лучшего предложения на рынке, чем у нас
      – вы не найдете. Готовы сотрудничать с вами уже сейчас, если у вас есть лом! Звоните!</p></div>

  <div class="container py-2 px-5 mx-auto ">
    <h1 class="text-5xl font-regular font-bold mb-5">{{ title }}</h1>

    <div class="flex flex-row flex-wrap">
      <div class="mb-3 lg:pr-3 lg:mb-0 w-full lg:w-7/12">
        <p class="mb-3">Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует,
          принимает и заготавливает металлолом с 2016г.</p>
        <p>
          За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной
          работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось
          завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам
          металлолом на постоянной основе. Мы являемся крупной оптовой компанией, которая может предлагать лучшие
          условия на рынке заготовки металлолома, т.к. накопленный на наших пунктах приема металлолом напрямую
          поставляется на перерабатывающие металл заводы ежечасно.
        </p>
        <h3 class="text-2xl font-regular font-medium mt-3 mb-3">Почему сдавать лом лучше в Металлолом?</h3>
        <p>Наше основное преимущество состоит в том, что мы предлагаем эксклюзивные и гибкие условия сотрудничества по
          сдаче металлолома для наших клиентов. У нас имеются все необходимые лицензии на осуществление основной
          деятельности – прием металлолома, а так же разрешения по всем вспомогательным направлениям. Весовое
          оборудование постоянно проходит поверку и имеет действующие сертификаты. Наши приемные пункты расположены по
          всей Москве и Московской области, имеем большой автопарк спецтехники, многочисленное количество различных
          специалистов в штате, и все необходимое для организации быстрого и безопасного демонтажа любого объекта любой
          сложности металлоконструкций. Благодаря нашей организаии сдать металлолом стало не просто удобно, но и
          быстро.</p>
      </div>
      <div class="mb-3 lg:pl-3 w-full lg:w-5/12">
        <img src="../images/text-1.jpg" class="block w-full h-auto" alt="Металлолом">
      </div>
    </div>

    <div class="flex flex-row flex-wrap mt-5">
      <div class="mb-3 lg:pr-3 w-full lg:w-4/12">
        <img src="../images/text-2.jpg" class="block w-full h-auto" alt="Металлолом">
      </div>
      <div class="mb-3 lg:pl-3 lg:mb-0 w-full lg:w-8/12">
        <h3 class="text-2xl font-regular font-medium mb-3">Часы работы баз: <span class="pf-font-light">Понедельник-Воскресенье 24/7 Круглосуточно</span>
        </h3>
        <p class="mb-3">Мы работаем на объем и применяем минимальную наценку, так как основной целью компании является
          привлечение максимального количества клиентов. Всегда готовы помочь своим клиентам, если им нужна
          дополнительная помощь, например демонтаж сложной металлоконструкции или опасного объекта, вывоз большого
          количества металла за сжатые сроки, недостаток рабочей силы, потребность в конкретных специалистах. Сагамет
          имеет все ресурсы для решения этих задач, причем 90% демонтажных работ мы производим бесплатно, в случае
          забора лома на наши приемные пункты. Оплату за принимаемый лом производим моментально, после взвешивания,
          сразу после приема металлолома на кассе, либо переводим после видео фиксации процесса взвешивания.</p>
        <p>
          Вывозим металлолом за свой счет с любого объекта, т.к. благодаря большому покрытию собственных приемных
          пунктов, расходы на логистику приводятся к минимуму. Если вы находитесь близко, вы всегда можете прийти в
          ближайший пункт приема и сдать лом лично. Поработав с нами в первый раз вы убедитесь, что лучшего предложения
          на рынке, чем у нас – вы не найдете. Готовы сотрудничать с вами уже сейчас, если у вас есть лом! Звоните!
        </p>
      </div>
    </div>
  </div>
</section>
