<!--FORM 3-->
<section class="py-5 overlay-section-white flex content-center align-center"
         style="background-image: url('../images/bg-form.jpg')">
  <div class="container py-2 sm:px-5 mx-auto">
    <div class="text-5xl font-regular font-bold text-center mb-5">
      Отправьте сообщение
    </div>
    <div class="text-3xl font-regular font-bold text-center mb-3">
      и мы обязательно ответим
    </div>
    <form action="" id="form-3">
      <div class="flex flex-col md:flex-row justify-center items-center">
        <label class="block w-full md:w-3/12 px-2 py-2">
          <input class="form-input mt-1 block bgl-transparent w-full border-2 border-gray-400" type="text"
                 name="name" placeholder="Ваше имя" required>
        </label>

        <label class="block w-full md:w-3/12 px-2 py-2">
          <input class="form-input mt-1 block bgl-transparent w-full border-2 border-gray-400" type="email"
                 name="email" placeholder="Email" required>
        </label>
        <div class="px-2">
          <label for="file-upload"
                 class="flex items-center w-full h-12 mt-1 mt-2 mt-3 mt-4 w-full md:w-auto form-input hover:border-mblue hover:text-mblue font-regular font-medium text-2xl custom-file-upload line-unset">Добавить
            фото</label>
          <input id="file-upload" class="hidden form-input" accept=".png, .jpg" name='img' type="file" style="display:none;"
                 required>
        </div>

      </div>

      <div class="flex mt-6 text-center w-full pf-font-light text-lg">
        <label class="flex flex-col md:flex-row justify-center items-center w-full text-white">
          <input type="checkbox" name="policy" class="form-checkbox bgl-transparent border-2 border-gray-400" required>
          <span class="ml-2 text-gray-400">Я согласен(а) с обработкой персональных данных*</span>
        </label>
      </div>
      <div class="flex justify-center mt-4">
        <button type="submit"
                class="mx-auto bg-mblue text-lg font-regular font-medium text-white hover:bg-blue-500 shadow-blue px-9 py-3">
          Хочу сдать лом
        </button>
      </div>
    </form>
  </div>
</section>
