<!--FORM 1-->
<section class="py-5 overlay-section-white flex content-center align-center"
         style="background-image: url('../images/bg-form.jpg')">
  <div class="container py-2 sm:px-5 mx-auto">
    <div class="text-5xl font-regular font-bold text-center mb-5">
      Заказать вывоз и прием металлолома
    </div>
    <div class="text-3xl font-regular font-bold text-center mb-3">
      Наш менеджер свяжется с вами в течение 5 минут
    </div>
    <form action="" id="form-1">
      <div class="flex flex-col md:flex-row justify-center">
        <label class="block w-full md:w-2/6 px-2 py-2">
          <input class="f1name form-input mt-1 block bgl-transparent w-full border-2 border-gray-400" type="text"
                id="f1name" name="name" placeholder="Имя" required>
        </label>

        <label class="block w-full md:w-2/6 px-2 py-2">
          <input class="f1weight form-input mt-1 block bgl-transparent w-full border-2 border-gray-400" type="text"
                 id="f1weight" name="weight" placeholder="Вес лома" required>
        </label>
      </div>

      <div class="flex mt-6 text-center w-full pf-font-light text-lg">
        <label class="flex flex-col md:flex-row justify-center items-center w-full text-white">
          <input type="checkbox" name="policy" id="f1check" class="f1check form-checkbox bgl-transparent border-2 border-gray-400" required>
          <span class="ml-2 text-gray-400">Я согласен(а) с обработкой персональных данных*</span>
        </label>
      </div>
      <div class="flex justify-center mt-4">
        <button type="submit"
                class="mx-auto bg-mblue text-lg font-regular font-medium text-white hover:bg-blue-500 shadow-blue px-9 py-3">
          Отправить
        </button>
      </div>
    </form>
  </div>
</section>
