<!--ICONS-->
<section class="py-5">
  <div class="container py-2 px-5 mx-auto ">
    <h1 class="text-center">Удобства работы с нами:</h1>
    <div class="flex flex-row flex-wrap text-center">
      <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
        <div
          class="bg-white shadow-around h-24 w-24 rounded-full p-5 mb-4 text-center text-5xl text-mlgreen font-bold font-regular mx-auto flex content-center items-center">
          01
        </div>
        <p>Все работы по демонтажу, выполняются бригадой профессионалов и спецтехникой.</p>
      </div>
      <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
        <div
          class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 text-center text-5xl text-mlgreen font-bold font-regular mx-auto flex content-center items-center">
          02
        </div>
        <p>Имеем большой опыт демонтажа различных конструкций. Беремся за объекты от простых до самых сложных.</p>
      </div>
      <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
        <div
          class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 text-center text-5xl text-mlgreen font-bold font-regular mx-auto flex content-center items-center">
          03
        </div>
        <p>После демонтажа вывозим металлолом в пункт приёма, а также образовавшийся мусор - бесплатно.</p>
      </div>
      <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
        <div
          class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 text-center text-5xl text-mlgreen font-bold font-regular mx-auto flex content-center items-center">
          04
        </div>
        <p>Работаем с физ. и юр. лицами, производим демонтаж металлоконструкций в короткие сроки, а оплату сразу после
          взвешивания.</p>
      </div>

    </div>
  </div>
</section>
