<!--TEXT WITH VIDEO-->
<section class="py-5">
  <div class="container px-5 mx-auto">
    <h1 class="text-5xl font-regular font-bold mb-5">Как образуется цена?</h1>
    <p>Примем металла с демонтажем – это комплексная услуга, которая включает в себя снос металлоконструкции и
      сортировку металлолома. При необходимости мы также готовы предоставить услугу вывоза сырья с территории заказчика.
      Такой подход очень выгодный для клиента.
      <br><br>
      Следует отметить, что наша организация одна из немногих, которые оказывают клиентам услуги демонтажа и
      транспортировки груза. Заказывая услуги демонтажа наши клиенты гарантировано получают выгодную цену проведения
      демонтажных работ, а также высокую цену приема металла.
      <br><br>
      Чтобы назвать точную цену демонтажных работ наши специалисты должны выехать на объект и оценить сложность работ.
      <br><br>
      Почему следует обратиться к нам? <br><br>
      Демонтаж металлических конструкций обязательно должны проводить профессионалы. При разборе построек промышленного
      и цивильного типа всегда очень много «подводных камней» с которыми могут справиться только настоящие
      профессионалы. Именно поэтому лучше всего доверить такую работу специалистам нашей компании. Они имеют за плечами
      огромный опыт работы и смогут произвести даже самый сложный демонтаж. После этого мы поможем вам реализовать
      металлолом по самой выгодной цене в Москве.
      <br><br>
      Один из критериев работы, которым руководствуются представители нашей компании – сохранение целостности окружающих
      объектов. Специалисты производят демонтаж металлоконструкций максимально осторожно, следуя всем нормам.
    </p>
    <div class="flex justify-center items-center mx-auto mt-4  wp-block-embed-youtube aligncenter">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0og6TQsR30U" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>
</section>
