<!--CAR PARK-->
<section class="py-5">
    <div class="container px-7 md:px-5 mx-auto">
        <h1 class="text-center">Наш автопарк</h1>
        <div class="park-items text-center">
            <div>
                <div class="mb-4"><img src="../images/park1.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Ломовозы</a>
                <p>15 ед.в наличии <br>
                    Объем кузова 29 м3 <br>
                    Грузоподъемность 15 тонн</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park2.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Валдаи</a>
                <p>11 ед. в наличии <br>
                    Объем кузова 16 м3 <br>
                    Грузоподъемность 5 тонн</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park3.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Длинномеры</a>
                <p>6 ед. в наличии <br>
                    Объем кузова 60 м3 <br>
                    Грузоподъемность 30 тонн</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park4.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Экскаваторы</a>
                <p>5 ед. в наличии <br>
                    Гусеничные и колесные экскаваторы <br>
                    Снос зданий и сооружений</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park5.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Краны</a>
                <p>7 ед. в наличии <br>
                    Грузоподъёмность от 16 до 100 тонн <br>
                    Демонтаж металлоконструкций при помощи кранов</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park1.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Ломовозы</a>
                <p>15 ед.в наличии <br>
                    Объем кузова 29 м3 <br>
                    Грузоподъемность 15 тонн</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park2.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Валдаи</a>
                <p>11 ед. в наличии <br>
                    Объем кузова 16 м3 <br>
                    Грузоподъемность 5 тонн</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park3.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Длинномеры</a>
                <p>6 ед. в наличии <br>
                    Объем кузова 60 м3 <br>
                    Грузоподъемность 30 тонн</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park4.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Экскаваторы</a>
                <p>5 ед. в наличии <br>
                    Гусеничные и колесные экскаваторы <br>
                    Снос зданий и сооружений</p>
            </div>
            <div>
                <div class="mb-4"><img src="../images/park5.png" alt="Examples" class="block object-contain mx-auto h-40"></div>
                <a class="mb-4 text-xl font-regular text-center uppercase text-black font-bold text-mlgreen hover:underline" href="#">Краны</a>
                <p>7 ед. в наличии <br>
                    Грузоподъёмность от 16 до 100 тонн <br>
                    Демонтаж металлоконструкций при помощи кранов</p>
            </div>
        </div>
    </div>
</section>
