{% set title = "Главная" %}

{% extends 'templates/_layout-base.twig' %}

{% block main %}
    {% include 'components/_header.twig' %}

    {% include 'components/_banner.twig' %}

    {% include 'components/_section-form-4.twig' %}

    <section class="section-text py-5">
        <div class="container mx-auto px-5">
            <h5>Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и заготавливает металлолом с 2016г.</h5>
            <p>За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам металлолом на постоянной основе. Мы являемся крупной оптовой компанией, которая может предлагать лучшие условия на рынке заготовки металлолома, т.к. накопленный на наших пунктах приема металлолом напрямую поставляется на перерабатывающие металл заводы ежечасно. Мы работаем на объем и применяем минимальную наценку, так как основной целью компании является привлечение максимального количества клиентов. Всегда готовы помочь своим клиентам, если им нужна дополнительная помощь, например демонтаж сложной металлоконструкции или опасного объекта, вывоз большого количества металла за сжатые сроки, недостаток рабочей силы, потребность в конкретных специалистах. Сагамет имеет все ресурсы для решения этих задач, причем 90% демонтажных работ мы производим бесплатно, в случае забора лома на наши приемные пункты. Оплату за принимаемый лом производим моментально, после взвешивания, сразу после приема металлолома на кассе, либо переводим после видео фиксации процесса взвешивания.
                <br><br>
                Вывозим металлолом за свой счет с любого объекта, т.к. благодаря большому покрытию собственных приемных пунктов, расходы на логистику приводятся к минимуму. Если вы находитесь близко, вы всегда можете прийти в ближайший пункт приема и сдать лом лично. Поработав с нами в первый раз вы убедитесь, что лучшего предложения на рынке, чем у нас – вы не найдете. Готовы сотрудничать с вами уже сейчас, если у вас есть лом! Звоните!</p>
        </div>
    </section>

    {% include 'components/_section-metalls.twig' %}

    {% include 'components/_kviz.twig' %}

    {% include 'components/_prices.twig' %}

    {% include 'components/_section-schema-work-2.twig' %}

    {% include 'components/_section-icons-3.twig' %}

    {% include 'components/_section-text-with-img.twig' %}

    {% include 'components/_section-form-by-photo.twig' %}

    {% include 'components/_section-car-park.twig' %}

    {% include 'components/_section-garantii.twig' %}

    {% include 'components/_section-faq.twig' %}

    {% include 'components/_section-form.twig' %}

    {% include 'components/_partners.twig' %}

    {% include 'components/_footer.twig' with { with_partners: 0} %}

{% endblock %}
