{% set title = "Услуги" %}

{% extends 'templates/_layout-base.twig' %}

{% block main %}
    {% include 'components/_header.twig' %}

    {% include 'components/_breadcrumb.twig' %}

    <section class="py-5">
        <div class="container mx-auto px-5">
            <h1>Лом металлов в Москве</h1>
            <p>Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и заготавливает металлолом с 2016г. За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам металлолом на постоянной основе. Мы являемся крупной оптовой компанией, которая может предлагать лучшие условия на рынке заготовки металлолома, т.к. накопленный на наших пунктах приема металлолом напрямую поставляется на перерабатывающие металл заводы ежечасно.
                <br><br>
                Наше основное преимущество состоит в том, что мы предлагаем эксклюзивные и гибкие условия сотрудничества по сдаче металлолома для наших клиентов. У нас имеются все необходимые лицензии на осуществление основной деятельности – прием металлолома, а так же разрешения по всем вспомогательным направлениям. </p>
        </div>
    </section>

    {% include 'components/_prices.twig' %}

    <section class="section-text py-5">
        <div class="container mx-auto px-5">
            <h5>Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и заготавливает металлолом с 2016г.</h5>
            <p>За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам металлолом на постоянной основе. Мы являемся крупной оптовой компанией, которая может предлагать лучшие условия на рынке заготовки металлолома, т.к. накопленный на наших пунктах приема металлолом напрямую поставляется на перерабатывающие металл заводы ежечасно. Мы работаем на объем и применяем минимальную наценку, так как основной целью компании является привлечение максимального количества клиентов. Всегда готовы помочь своим клиентам, если им нужна дополнительная помощь, например демонтаж сложной металлоконструкции или опасного объекта, вывоз большого количества металла за сжатые сроки, недостаток рабочей силы, потребность в конкретных специалистах. Сагамет имеет все ресурсы для решения этих задач, причем 90% демонтажных работ мы производим бесплатно, в случае забора лома на наши приемные пункты. Оплату за принимаемый лом производим моментально, после взвешивания, сразу после приема металлолома на кассе, либо переводим после видео фиксации процесса взвешивания.
                <br><br>
                Вывозим металлолом за свой счет с любого объекта, т.к. благодаря большому покрытию собственных приемных пунктов, расходы на логистику приводятся к минимуму. Если вы находитесь близко, вы всегда можете прийти в ближайший пункт приема и сдать лом лично. Поработав с нами в первый раз вы убедитесь, что лучшего предложения на рынке, чем у нас – вы не найдете. Готовы сотрудничать с вами уже сейчас, если у вас есть лом! Звоните!</p>
        </div>
    </section>

    {% include 'components/_section-schema-work.twig' %}

    {% include 'components/_section-icons-3.twig' %}

    {% include 'components/_section-car-park.twig' %}

    {% include 'components/_section-form.twig' %}

    {% include 'components/_section-metalls.twig' %}

    {% include 'components/_section-reviews.twig' %}

    {% include 'components/_section-map.twig' %}

    <section class="section-text py-5">
        <div class="container mx-auto px-5">
            <h1>О вывозе металла</h1>
            <h5>Металлолом – оптовая металлозаготовительная и демонтажная организация, которая демонтирует, принимает и заготавливает металлолом с 2016г.</h5>
            <p>За относительно короткое время нашей деятельности на рынке металлолома, благодаря честной и плодотворной работе наших специалистов и работников, а так же неравнодушным отношением к своим клиентам, нам удалось завоевать доверие многочисленных клиентов – от частных лиц до крупных заводов и холдингов, которые сдают нам металлолом на постоянной основе. Мы являемся крупной оптовой компанией, которая может предлагать лучшие условия на рынке заготовки металлолома, т.к. накопленный на наших пунктах приема металлолом напрямую поставляется на перерабатывающие металл заводы ежечасно. Мы работаем на объем и применяем минимальную наценку, так как основной целью компании является привлечение максимального количества клиентов. Всегда готовы помочь своим клиентам, если им нужна дополнительная помощь, например демонтаж сложной металлоконструкции или опасного объекта, вывоз большого количества металла за сжатые сроки, недостаток рабочей силы, потребность в конкретных специалистах. Сагамет имеет все ресурсы для решения этих задач, причем 90% демонтажных работ мы производим бесплатно, в случае забора лома на наши приемные пункты. Оплату за принимаемый лом производим моментально, после взвешивания, сразу после приема металлолома на кассе, либо переводим после видео фиксации процесса взвешивания.
                <br><br>
                Вывозим металлолом за свой счет с любого объекта, т.к. благодаря большому покрытию собственных приемных пунктов, расходы на логистику приводятся к минимуму. Если вы находитесь близко, вы всегда можете прийти в ближайший пункт приема и сдать лом лично. Поработав с нами в первый раз вы убедитесь, что лучшего предложения на рынке, чем у нас – вы не найдете. Готовы сотрудничать с вами уже сейчас, если у вас есть лом! Звоните!</p>
            <ul>
                <li>Максимальная цена вне конкуренции на рынке!</li>
                <li>Большое количество пунктов приема по Москве и МО. Гарантируем выгрузку на ближайший пункт приёма!</li>
                <li>В 100% случаев вывозим металлолом бесплатно!</li>
                <li>В 90% случаев демонтируем металлоконструкции бесплатно!</li>
                <li>Подачу техники обеспечиваем в течение 45 минут с ближайшей базы! Наши логисты подбирают свободную технику без задержек!</li>
                <li>Гарантируем моментальную оплаты сразу после взвешивания! Деньги в кассе есть всегда!</li>
                <li>Наши весы постоянно проходят поверку. Гарантированно честное взвешивание предлагаемое нами является поистине редкостью в сфере металлолома!</li>
                <li>Гарантируем своевременное исполнение взятых на себя обязательств, акций и спецпредложений!</li>
            </ul>
        </div>
    </section>

    {% include 'components/_section-faq.twig' %}

    {% include 'components/_footer.twig' with { with_partners: 0} %}

{% endblock %}
