{% set title = "Вывоз" %}

{% extends 'templates/_layout-base.twig' %}

{% block main %}
  {% include 'components/_header.twig' %}

  {% include 'components/_breadcrumb.twig' %}

  <section class="py-5 section-text">
    <div class="container py-2 px-5 mx-auto">
      <div class="wp-block-columns">
        <div class="wp-block-column">
          <p>Мы предлагаем своим клиентам не только высокие цены на все виды металла, но также
            сопутствующие услуги. Самой востребованной является демонтаж металлических конструкций. Это тяжелая и технически
            сложная работа, для проведения которой требуется серьезный опыт, а также квалификация.</p>
          <p>Обратившись в нашу организацию, вы сможете заказать демонтаж:</p>
          <ul>
            <li>ангаров;</li>
            <li>цехов;</li>
            <li>мостов;</li>
            <li>резервуаров;</li>
            <li>станков;</li>
            <li>кранов и т. п</li>
          </ul>
          <p>После проведения демонтажных работ весь лом отправляется в пункты приема нашей организации. Весь полученный лом
            в итоге станет сырьем для нового производственного процесса.</p>
          <p>Услуги демонтажа освобождают клиентов от необходимости собственными силами демонтировать металлические
            конструкции. Мы также можем предложить услуги транспортировки. Мы поможем вывезти даже большие объемы
            металлолома при помощи спецтехники.</p></div>
        <div class="wp-block-column">
          <div class="gallery-items relative" data-id="block_60fcb53dc7573">
            <div class="item"><img width="1024" height="682" alt="slide-0"
                                   data-src="http://localhost/wp-content/uploads/2021/07/text-slide.jpg"
                                   class="block object-cover ls-is-cached lazyloaded"
                                   src="http://localhost/wp-content/uploads/2021/07/text-slide.jpg" loading="lazy"></div>
            <div class="item"><img width="1024" height="682" alt="slide-1"
                                   data-src="http://localhost/wp-content/uploads/2021/07/text-1-1024x683.jpg"
                                   class="block object-cover ls-is-cached lazyloaded"
                                   src="http://localhost/wp-content/uploads/2021/07/text-1-1024x683.jpg" loading="lazy">
            </div>
            <div class="item"><img width="1024" height="682" alt="slide-2"
                                   data-src="http://localhost/wp-content/uploads/2021/07/text-2-1024x683.jpg"
                                   class="block object-cover ls-is-cached lazyloaded"
                                   src="http://localhost/wp-content/uploads/2021/07/text-2-1024x683.jpg" loading="lazy">
            </div>
            <div class="item"><img width="1024" height="682" alt="slide-3"
                                   data-src="http://localhost/wp-content/uploads/2021/07/demontag_text.png"
                                   class="block object-cover ls-is-cached lazyloaded"
                                   src="http://localhost/wp-content/uploads/2021/07/demontag_text.png" loading="lazy"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'components/_section-text-slider.twig' %}

  {% include 'components/_section-table.twig' %}

  {% include 'components/_section-icons-2.twig' %}

  {% include 'components/_section-form-3.twig' %}

  {% include 'components/_section-text-with-video.twig' %}

  {% include 'components/_section-car-park.twig' %}



  {% include 'components/_footer.twig' with { with_partners: 0} %}

{% endblock %}
